body {
  font-family: 'Lato', sans-serif;
  background-color:red;
}

#board {
  padding-top: 3em;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: navy;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-shadow: 2px 1px 0px #FFFFFF;
}
h2 {
  text-align: center;
  font-style: italic;
  color: navy;
  text-shadow: 2px 1px 0px #FFFFFF;
}
.row > div {
  color: navy;
  text-shadow: 2px 1px 0px #FFFFFF;
  float: left;
  height: 100px;
  width: 100px;
  font-size: 70px;
  text-align: center;
  line-height: 100px;
}
.row {
  margin:  0 auto;
  width: 302px;
  clear: both;
}
.t {
  border-bottom: 1px solid #FFFFFF;
}
.b {
  border-top: 1px solid  #FFFFFF;
}
.l {
  border-right: 1px solid #FFFFFF;
}
.r {
  border-left: 1px solid #FFFFFF;
}
.pointer {
  cursor: pointer;
}
